
<div class="container"><nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-success" href="#">Portfolio <span class="sr-only">(current)</span></a>
        </li>
        
        
        <li class="nav-item">
          <a class="nav-link text-success" routerLink="skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" routerLink="education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" routerLink="experience">Work experience</a>
        </li>
        
      </ul>
     
    </div>
  </nav>
  
  
  
      
        
              
  
  <br>
            <div class="content-center">
              <div class="jumbotron col-lg-12 col-md-12">
                <h1 class="display-4 text-success"><b>Deepak Bhandari</b></h1>
                <p class="lead text-success"><b>Angular/React Developer, Full Stack Node Developer</b></p>
                <hr class="my-4">
                <img>
                <a class="btn btn-dark btn-lg" href="https://www.dropbox.com/s/5q1waqzvp9bqkve/DeepakCV.pages?dl=0" role="button">Download CV</a>
                <div class="button-container"><br><br>
                  <a class="btn btn-default btn-round btn-lg btn-icon bg-primary" href="https://www.facebook.com/Deepbh"
                    target="_blank" rel="tooltip" title="Follow me on Facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a class="btn btn-default btn-round btn-lg btn-icon bg-danger" href="https://www.instagram.com/deepbh1/"
                    target="_blank" rel="tooltip" title="Follow me on Instagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a class="btn btn-default btn-round btn-lg btn-icon bg-info" href="https://www.linkedin.com/in/deepak-bhandari-1b7b96aa/"
                    target="_blank" rel="tooltip" title="Follow me on Linkedin">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a class="btn btn-default btn-round btn-lg btn-icon bg-dark" href="https://github.com/DeepakBhandariDev"
                    target="_blank" rel="tooltip" title="Follow me on Github">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                  <a class="btn btn-default btn-round btn-lg btn-icon bg-success" href="https://twitter.com/deepbh2"
                    target="_blank" rel="tooltip" title="Follow me on Twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  
                </div>
              </div>
              </div>
  
            
           
    </div>  