<div class="section  text-light" >
    <div class="container">
      <div class="card bg-dark text-light" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Hello there</div>
              <p>I'm <strong class="text-success">Deepak Bhandari</strong>. Metropolia IT graduate and a web development enthusiast. During my university years, I did gain experience and understanding of multiple languages and frameworks around content production be it on web browsers, web apps, native apps and core applications. Angular being my current learning priority and framework for this port-folio, I have also quite recently worked a few projects on react js. Full stack with express, why not.

              <p>
                Hard working, diligent, punctual and positive perspectives are phrases I'd define myself with but team working and working under pressure are few abilities I acquired during my school at Metropolia UAS Helsinki.
              </p> 
              
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Full name:</strong>
                </div>
                <div class="col-sm-8 text-success"><b>Deepak Bhandari</b></div>
              </div>
                <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">July 11, 1993</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Nationality:</strong>
                </div>
                <div class="col-sm-8">Nepalese</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">deepbhforever@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+358 45 1952 666</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">Poutamaentie 7 A 4, Helsinki, Finland
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Languages:</strong>
                </div>
                <div class="col-sm-8">English, Nepalese, Finnish, Hindi</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>