<div class="container"><br>
    <div class="h4 text-center mb-4 title">Work experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-dark text-light" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>May 2016- Mar 2017</p>
            <div class="h5">UI/ Content developer</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">Ubiikki Oy</div>
             <h5 class="category">Internship
             </h5><br>Helsinki, Finland
             
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-dark text-light" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>Jan 2016 - Present</p>
            <div class="h5">Bartender</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">Maxine Ravintola</div>
             <h5 class="category">Kamppi/ Part time
             </h5>
             <br>Helsinki, Finland
          </div>
        </div>
        
      </div>
    </div>
    
  </div>