<div class="container"><br>
    <div class="h4 text-center mb-4 title">Work experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-dark text-light" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>May 2016- Mar 2017</p>
            <div class="h5">UI/ Content developer</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">Ubiikki Oy</div>
             <h5 class="category">Internship
             </h5><br>Helsinki, Finland
             
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-dark text-light" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>Jan 2016 - Present</p>
            <div class="h5">Bartender</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">Maxine Ravintola</div>
             <h5 class="category">Kamppi/ Part time
             </h5>
             <br>Helsinki, Finland
          </div>
        </div>
        
      </div>
    </div><br>
    <div class="h4 text-center mb-4 title">Projects</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-dark text-light" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <img src="/assets/images/MERN.png">
          </div></div>
        <div class="col-md-9" >
          <div class="card-body">
            <div class="h4">
              <a href="https://github.com/DeepakBhandariDev/MERN-react-thesis-job-searching">
                MERN Vacancy Announcement Application</a></div>
             <h5 class="category">Final Year Thesis
             </h5><br>React/Redux/Express/MongoDB/Material UI
             
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-dark text-light" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <img src="/assets/images/Angular.png">
          </div></div>
        <div class="col-md-9" >
          <div class="card-body">
            <div class="h4">
              <a href="https://github.com/DeepakBhandariDev/pwa-angular-portfolio">
                PWA responsive Angular Portfolio</a></div>
             <h5 class="category">
             </h5><br>Angular/Bootstrap/Typescript
             
          </div>
        </div>
      </div>
    </div>
    
  </div>