<div class="jumbotron container bg-dark text-light"><h1 class="display-4">Skills</h1>
    
    <hr class="my-4">
    
    <p class="lead">
        <ul class="lead">
            <li>
                Angular 
            </li>
        </ul>
            <p><ngb-progressbar [showValue]="true" type="success" [value]="90"></ngb-progressbar></p>
            
            <ul class="lead">
                <li>
                    React JS/ Redux 
                </li>
            </ul>
                <p><ngb-progressbar [showValue]="true" type="success" [value]="80"></ngb-progressbar></p>

                <ul class="lead">
                    <li>
                        Java 
                    </li>
                </ul>
                    <p><ngb-progressbar [showValue]="true" type="success" [value]="60"></ngb-progressbar></p>

                    <ul class="lead">
                        <li>
                            Node/Express 
                        </li>
                    </ul>
                        <p><ngb-progressbar [showValue]="true" type="success" [value]="75"></ngb-progressbar></p>
                        <ul class="lead">
                            <li>
                                Mongo DB
                            </li>
                        </ul>
                            <p><ngb-progressbar [showValue]="true" type="success" [value]="90"></ngb-progressbar></p>
    
                            <ul class="lead">
                                <li>
                                    ASP .net 
                                </li>
                            </ul>
                                <p><ngb-progressbar [showValue]="true" type="success" [value]="70"></ngb-progressbar></p>
                                <ul class="lead">
                                    <li>
                                        PHP 
                                    </li>
                                </ul>
                                    <p><ngb-progressbar [showValue]="true" type="success" [value]="50"></ngb-progressbar></p>
    </div>
  
  